
ul,li,p{
	list-style:none;
	margin:0;
	padding:0;
}
div{}
body{
	font-family: "Cabin Condensed", sans-serif,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo,"MS PGothic", sans-serif;
	letter-spacing: 0.1em;
	font-size:12px;
	text-decoration:none;
	border:none;
	color: #666666;
}
a{
	text-decoration:none;
	border:none;	
}
#wrap{
	width:950px;
	margin:15px 40px;
}
/* --■■--------トップページ--------------■■-- */
#box_top{
	width:390px;
	overflow:hidden;
	}
#box_icon{
	float:left;
}
/* メニューボックス --------------*/
#box_menu{
	float:left;
	margin:30px 0 0 15px;
}
li.icon{
	margin-top:-40px;
}
/*アコーディオン*/
ul.accordion {
	/*font-family: 'Chango', cursive;*/
	z-index:2;
	cursor:pointer;
	float:left;
	margin-right:10px;
}
ul.accordion p{
	background:#fff;
	padding:3px 8px;
	font-size:12px;	
	font-color:#fff;	
}
ul.accordion li p{
		background-color:#fff;
}
ul.accordion li p.current{
		background-color:#eee;
}
ul.accordion p:hover{
	background-color:#fff;
	}
ul.accordion li ul li{
	padding:3px 8px;
	margin-top:2px;
	background-color:#fff;
}
ul.accordion li ul li:hover{
	background-color:#999;
}
ul.accordion li ul li a:hover{
		color:#fff;
}
ul.accordion li ul li a{
	color:#999;
	font-size:12px;
	border:none;
	text-decoration:none;
	display:block;
}
ul.accordion ul { display:none;}

/* ワークスアイコン --------------*/
/* 入れ物 */
#box_works{
	display:block;
	width:950px;
	padding-top:30px;
	float:left;
}
#box_works ul {}
#box_works ul li{
	margin-bottom:30px;
}
/* 列ごと */
.line_works{
	float:left;
	margin-right:30px;
}

/*  アイコン詳細  */
/*一列目*/
.gazo{
	width:90px;
	height:90px;
	background-image:url(img/icon/icon.png);
	background-size:90px 90px;
}

.gazo.b{
	background-image:url(img/icon/f.png);
}
.gazo.b:hover{
	  background:url(img/sp_pome.png);
	  -webkit-animation:para2 0.9s steps(11,end) infinite;
	  -moz-animation:para2 0.9s steps(11,end) infinite;
	  animation:para2 0.9s steps(11,end) infinite;
}
/*画像の横幅を指定*/
@-webkit-keyframes para2 {
100% {background-position:-996px;}
}
@-moz-keyframes para2 {
100% {background-position:-996px;}
}
@keyframes para2 {
100% {background-position:-996px;}
}	
.gazo.c{
	background-image:url(img/icon/ris.png);
}
.gazo.c:hover{
	  background:url(img/sp3.png);
	  -webkit-animation:para2 0.9s steps(11,end) infinite;
	  -moz-animation:para2 0.9s steps(11,end) infinite;
	  animation:para2 0.9s steps(11,end) infinite;
}
/*画像の横幅を指定*/
@-webkit-keyframes para3 {
100% {background-position:-905px;}
}
@-moz-keyframes para3 {
100% {background-position:-905px;}
}
@keyframes para3 {
100% {background-position:-905px;}
}	
/*2列目*/
.gazo.d{
	background-image:url(img/icon/moi.png);
}
.gazo.e{
	background-image:url(img/icon/fire.png);
}
.gazo.f{
	background-image:url(img/icon/demia.png);
}
.gazo.f:hover{
	  background:url(img/sp_demi.png);
	  -webkit-animation:para2 0.9s steps(11,end) infinite;
	  -moz-animation:para2 0.9s steps(11,end) infinite;
	  animation:para2 0.9s steps(11,end) infinite;
}
/*画像の横幅を指定*/
@-webkit-keyframes para4 {
100% {background-position:-996px;}
}
@-moz-keyframes para4 {
100% {background-position:-996px;}
}
@keyframes para4 {
100% {background-position:-996px;}
}	
/*3列目*/
.gazo.g{
	background-image:url(img/icon/demi2.png);
}
.gazo.h{
	background-image:url(img/icon/yukai.png);
}
.gazo.i{
	background-image:url(img/icon/websaibou.gif);	
	background-size:150px 120px;
}
/*4列目*/
.gazo.j{
	background-image:url(img/icon/cafe.png);
}
.gazo.k{
	background-image:url(img/icon/yu.jpg);
}
.gazo.l{
	background-image:url(img/icon/wada.png);	
}

/* --■■-----作品詳細ページ----------■■-- */
/* info */
ul.box_works_info{
	overflow:hidden;
	margin-top:10px;
	float:left;
}
#box_top1{
	overflow:hidden;
	}
#box_top2{
	overflow:hidden;
	}
#box_menu1{
	padding:0 20px;
	float:right;
}
#box_menu2{
		border-left:1px solid #999;
		padding:0 20px;
	float:right;
}
/* contents */

ul.box_works_contents{
	width:2000px;
	height:480px;
}
ul.box_works_contents li{
	float:left;
	margin-right:20px;
	}


div.example1 {
width: 1100px;
height: 530px;
overflow-x: auto;
white-space: nowrap;
}


/* ツールチップ --------------*/
span.tooltip{
	line-height:1.5;
	color:#fff;
	width:auto;
	background:#f00;
	border:2px solid white;
	padding:5px 4px;
	font-size:small;
	font-family: 'Montserrat', sans-serif;
}

/* カテゴリー */
.cate{
	color:#fff;
	font-size:10px;
	padding:1px 4px;
	font-weight:bold;
	margin-bottom:2px;
	width:auto;
	}
.cate.new{
	background-color:#f78a6c;
}	
.cate.gra{
	background-color:#999;
}	

/* ニュース */

#box_menu3{
	border-left:1px solid #999;
	padding:0 20px;
	float:right;
	width:580px;
}
.title{
	font-weight:bold;
	margin-bottom:5px;
}
